*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: none;
}
h1{
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}
main{
    width: 50vw;
    font-size: 2rem;
}
h5{
    font-size: 2rem;
    background-color: skyblue;
    width: 19ch;
}